body{
 background:rgb(0, 191, 255);
}
#headOne{
	border:5px solid black;
}
#firstPara{
	background: yellow;
}
#headThree{
	color: blue;
}
#firstList{
	text-decoration: overline;
}
#headFour{
	color: blue;
}
#textarea{
	border: 5px solid gray;
}
.login{
	border: solid yellow;
	width: 2px;
}
#textarea2{
	border: 5px solid gray;
}
#wrapped{
	border: 5px dashed yellow;
	background: blue;
}
#q1{
	background: yellow;
}